/**
 * Margin safe
 **/
@layer utilities {
  .ml-safe {
    margin-left: env(safe-area-inset-left);
  }

  .mr-safe {
    margin-right: env(safe-area-inset-right);
  }

  .mb-safe {
    margin-bottom: env(safe-area-inset-bottom);
  }

  .mt-safe {
    margin-bottom: env(safe-area-inset-top);
  }

  .my-safe {
    @apply mt-safe mb-safe;
  }

  .mx-safe {
    @apply ml-safe mr-safe;
  }

  .m-safe {
    @apply mx-safe my-safe;
  }
}
